*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-background: #222831;
    --light-background: #393e46;
    --accent-color: #f96d00;
    --text-light: #f2f2f2;
    --text-dark: #222831;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--light-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 500px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container h2{
    color: var(--text-light);
}

.container .buttons{
    background-color: var(--dark-background);
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 50px;
}


.buttons button{ 
    background: transparent;
    border: 0;
    outline: 0;
    height: 100%;
    width: 120px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.4s;
}

.buttons button:hover{
    background-color: var(--accent-color);
}

.buttons button.active{
    background-color: var(--accent-color);
}

.container .timer-container{
    background-color: var(--dark-background);
    height: 350px;
    width: 350px;
    border: 10px solid var(--accent-color);
    outline: var(--dark-background) solid 12px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.timer-container h1{
    font-size: 100px;
    color: var(--text-light);
}

.timer-container button{
    height: 40px;
    width: 150px;
    border: 1px solid var(--dark-background);
    border-radius: 20px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    background: transparent;
    color: var(--text-light);
    font-size: 18px;
    letter-spacing: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

.timer-container button:hover{
    border: 1px solid var(--accent-color);
}


.container .settings{
    padding: 10px;
}


.container .settings i{
    color: var(--text-light);
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    
}

.settings i:hover{
    display: inline-block;
    transform: rotate(30deg);
    transform-origin: center;
}


/* setting modal */

.setting-modal{
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-light);
    width: 400px;
    height: 350px;
    position: relative;
    overflow: visible;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.setting-modal .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
}

.heading i{
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.4s;
}

.heading i:hover{
    transform: scale(1.3);
}

.setting-modal .times{
    /* background-color: green; */
    padding: 20px 10px;
    border-bottom: 1px solid black;
}

.times h5{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.times .time-inputs{
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: space-between; */
}

.time-inputs div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time-inputs div label{
    font-size: 14px;
}

.time-inputs div input{
    font-size: 14px;
    width: 150px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: lightgray;
    border-radius: 5px;
    padding-left: 5px;
}

.setting-modal .themes{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.themes h5{
    text-transform: uppercase;
}

.themes .colors{
    display: flex;
    align-items: center;
    gap: 10px;
}

.colors .color{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.setting-modal button{
    z-index: 5;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 30px;
    border: 1px solid var(--accent-color);
    outline: 0;
    border-radius: 30px;
    background-color: var(--accent-color);
    color: var(--text-light);
    text-transform: capitalize;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}

.setting-modal button:hover{
    background-color: var(--text-light);
    color: var(--accent-color);
}


/* media queries */

@media only screen and (max-width: 600px) {
    /* body{
        height: 100%;
        width: 100%;
        align-items: center;
    } */

    .container{
        width: 80%;
        height: 80%;
    }

    .buttons{
        width: 80%;
    }

    .container .timer-container{
        width: 250px;
        height: 250px;
        gap: 20px;
    }

    .timer-container h1{
        font-size: 70px;
    }

    .setting-modal{
        height: 60vh;
        padding: 0px 15px;
    }

    .setting-modal .times{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .times .time-inputs{
        flex-direction: column;
        width: 100%;
    }

    .time-inputs div{
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .themes{
        flex-direction: column;
        gap: 20px;
    }


    .setting-modal .apply{
        top: 97%;
    }
}